*{
    margin:0;
    padding:0;
}

body, html { 
    height:100%; 
    width:100%; 
    background: #cdd4db;
    color:#010812; 
    font-family: sistem-ui, sans-serif,tahoma;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 25px;
}

.wrap{
    height: auto;
    width:98%;
    min-width:360px;
    max-width: 1200px;
    margin:auto;
    position:relative;
}

.float-wrap{
    height: auto;
    min-height: 500px;
    margin:10px 0 10px 0;
    min-width:360px;
    width:100%;
}

.left-column{
    background:#EAEFF1;
    float:left; 
    height:auto;
    min-width:300px;
    width: 30%;
}

.right-column{
    background:#EAEFF1;
    height: auto;
    margin:0 0 0 31%;
    min-width:360px;
    width:69%;
    padding-bottom: 10px;
}

.column{
    border-radius: 5px;
}
.column *{
    margin: 10px;
}

.shadow{
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
}

footer, header{
    width:100%;
}