*{
    margin:0;
    padding:0;
}

body, html { 
    height:100%; 
    width:100%; 
}

.float-wrap{
    float:left;
    height:100%;
    margin:10px 0 10px 0;
    min-width:360px;
    width:100%;
}

.wrap{
    height:100%;
    width:98%;
    min-width:360px;
    margin:auto;
    position:relative;
}

.left-column{
    background:#BBBBBB;
    float:left; 
    height:100%;
    width:300px;
}

.middle-column{
    background:#BBBBBB;
    float:left; 
    height:100%;
    left:0;
    min-width:360px;
    margin: 0 320px 0 320px;
    position:absolute;
    right:0;
}

.right-column{
    background:#BBBBBB;
    float:right
    ;height:100%;
    width:300px;    
}

footer{
    clear:both;
}

footer, header{
    background:#BBBBBB;
    height:200px;
    line-height:200px;
    text-align:center;
    vertical-align:middle;
    width:100%;
}


@media only screen and (max-device-width: 1040px){
    .right-column{
        visibility: hidden;
    }

    .middle-column{
        margin: 0 0 0 320px;
    }    
}